*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 5rem  auto;
    text-align: center;
}

body{
    background-color: rgb(5, 8, 34);
}

.form{
  background-color: white;
  width: 350px;
  margin: 2rem auto;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 2px 2px 5px blue;
}
.form article{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: 1rem;
}
.form input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:hsl(269, 100%, 40%);
    height: 30px;
    padding: 5px;
    
}
.form input:focus{
    border-radius: 5px;
}
.form button{
    border: none;
    background-color: hsl(269, 100%, 40%);
    color: white;
    padding: 2px;
    width: 80px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}
.container h2{
    color: white;
    font-weight: 800;
    font-size: 3rem;
}
#result{
    text-align: start;
    color: rgb(5, 8, 34);
    font-size: 2rem;
    margin-top: 0.6rem;
}